<a href="https://colab.research.google.com/github/pksnj/pksnj/blob/main/yaFin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download data from yahoo Finance

Install and Import Dependencies

https://pypi.org/project/yfinance/

In [3]:
!pip install -q yfinance

In [4]:
import yfinance as yf

In [6]:
msft = yf.Ticker("MSFT")
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.48672,
 'profitMargins': 0.34366,
 'grossMargins': 0.6826,
 'operatingCashflow': 87693000704,
 'revenueGrowth': 0.106,
 'operatingMargins': 0.41691002,
 'ebitda': 98841001984,
 'targetLowPrice': 234,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 46155874304,
 'targetMedianPrice': 290,
 'currentPrice': 247.11,
 'earningsGrowth': -0.133,
 'currentRatio': 1.84,
 'returnOnAssets': 0.15223,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 299.37,
 'debtToEquity': 44.442,
 'returnOnEquity': 0.42875,
 'targetHighPrice': 411,
 'totalCash': 107244003328,
 'totalDebt': 77136003072,
 'totalRevenue': 203074994176,
 'totalCashPerShare': 14.387,
 'financialCurrency': 'USD',
 'revenuePerShare': 27.142,
 'quickRatio': 1.585,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.923,
 'beta3Year': None,
 'enterpriseToEbitda': 18.332,
 '52WeekChange': -0.26470673,
 'morningStarRiskRating': None,
 'forwardEps': 11.18,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7454470144,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 23.276,
 'sharesShort': 36909448,
 'sharesPercentSharesOut': 0.005,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.71933997,
 'netIncomeToCommon': 69788999680,
 'trailingEps': 9.29,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.14731997,
 'priceToBook': 10.616515,
 'heldPercentInsiders': 0.00072999997,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1664496000,
 'shortRatio': 1.15,
 'sharesShortPreviousMonthDate': 1664496000,
 'floatShares': 7447838663,
 'beta': 0.91984,
 'enterpriseValue': 1811966853120,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1660694400,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.144,
 'priceToSalesTrailing12Months': 9.070906,
 'dateShortInterest': 1667174400,
 'pegRatio': 1.96,
 'ytdReturn': None,
 'forwardPE': 22.102861,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.005,
 'sharesShortPriorMonth': 34921823,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 242.98,
 'regularMarketOpen': 242.99,
 'twoHundredDayAverage': 269.28284,
 'trailingAnnualDividendYield': 0.010453535,
 'payoutRatio': 0.26700002,
 'volume24Hr': None,
 'regularMarketDayHigh': 247.99,
 'navPrice': None,
 'averageDailyVolume10Day': 34117060,
 'regularMarketPreviousClose': 242.98,
 'fiftyDayAverage': 239.4916,
 'trailingAnnualDividendRate': 2.54,
 'open': 242.99,
 'toCurrency': None,
 'averageVolume10days': 34117060,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.72,
 'exDividendDate': 1668556800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 242.32,
 'currency': 'USD',
 'trailingPE': 26.59957,
 'regularMarketVolume': 34620246,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1842074091520,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28509043,
 'dayLow': 242.32,
 'ask': 247.1,
 'askSize': 800,
 'volume': 34620246,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.18,
 'fiftyTwoWeekLow': 213.43,
 'bid': 247,
 'tradeable': False,
 'dividendYield': 0.011,
 'bidSize': 900,
 'dayHigh': 247.99,
 'coinMarketCapLink': None,
 'regularMarketPrice': 247.11,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [7]:
# get historical market data
hist = msft.history(period="max")

In [8]:
# show actions (dividends, splits)
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2021-08-18 00:00:00-04:00       0.56           0.0
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0

[84 rows x 2 columns]

In [9]:
# show dividends
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2021-08-18 00:00:00-04:00    0.56
2021-11-17 00:00:00-05:00    0.62
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
Name: Dividends, Length: 75, dtype: float64

In [10]:
# show splits
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [11]:
# show financials
msft.financials
msft.quarterly_financials

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Research Development,6628000000.0,6849000000.0,6306000000.0,5758000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,21572000000.0,20487000000.0,20190000000.0,22515000000.0
Minority Interest,None,None,None,None
Net Income,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Selling General Administrative,6524000000.0,8053000000.0,7075000000.0,6763000000.0
Gross Profit,34670000000.0,35436000000.0,33745000000.0,34768000000.0
Ebit,21518000000.0,20534000000.0,20364000000.0,22247000000.0
Operating Income,21518000000.0,20534000000.0,20364000000.0,22247000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-500000000.0,-492000000.0,-499000000.0,-521000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4016000000.0,3747000000.0,3462000000.0,3750000000.0
Total Revenue,50122000000.0,51865000000.0,49360000000.0,51728000000.0
Total Operating Expenses,28604000000.0,31331000000.0,28996000000.0,29481000000.0
Cost Of Revenue,15452000000.0,16429000000.0,15615000000.0,16960000000.0
Total Other Income Expense Net,54000000.0,-47000000.0,-174000000.0,268000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Net Income Applicable To Common Shares,17556000000.0,16740000000.0,16728000000.0,18765000000.0

In [12]:
# show major holders
msft.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  71.93%       % of Shares Held by Institutions
2  71.99%        % of Float Held by Institutions
3    5943  Number of Institutions Holding Shares

In [13]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",628109007,2022-06-29,0.0843,155212017103
1,Blackrock Inc.,522551885,2022-06-29,0.0701,129127796621
2,State Street Corporation,293557993,2022-06-29,0.0394,72541115829
3,"FMR, LLC",204088395,2022-09-29,0.0274,50432283413
4,Price (T.Rowe) Associates Inc,195859819,2022-06-29,0.0263,48398919992
5,"Geode Capital Management, LLC",136945361,2022-06-29,0.0184,33840568240
6,Morgan Stanley,101931745,2022-06-29,0.0137,25188353569
7,Capital World Investors,98825477,2022-06-29,0.0133,24420763681
8,JP Morgan Chase & Company,91034485,2022-06-29,0.0122,22495531643
9,Capital International Investors,85116879,2022-06-29,0.0114,21033232021

In [14]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Intangible Assets,1.080800e+10,1.129800e+10,1.134800e+10,7.462000e+09
Total Liab,1.862180e+11,1.982980e+11,1.816830e+11,1.803790e+11
Total Stockholder Equity,1.735660e+11,1.665420e+11,1.629240e+11,1.600100e+11
Other Current Liab,5.684800e+10,5.938400e+10,4.739100e+10,4.634600e+10
Total Assets,3.597840e+11,3.648400e+11,3.446070e+11,3.403890e+11
Common Stock,8.853500e+10,8.693900e+10,8.576700e+10,8.452800e+10
Other Current Assets,1.802100e+10,1.693200e+10,1.335300e+10,1.230100e+10
Retained Earnings,9.237400e+10,8.428100e+10,7.963300e+10,7.504500e+10
Other Liab,2.822000e+10,3.085300e+10,3.115900e+10,3.058400e+10
Good Will,6.745900e+10,6.752400e+10,6.737100e+10,5.092100e+10
Gains Losses Not Affecting Retained Earnings,-7.343000e+09,-4.678000e+09,-2.476000e+09,4.370000e+08
Other Assets,2.348200e+10,2.189700e+10,2.184500e+10,2.125600e+10
Cash,2.288400e+10,1.393100e+10,1.249800e+10,2.060400e+10
Total Current Liabilities,8.738900e+10,9.508200e+10,7.743900e+10,7.751000e+10
Short Long Term Debt,3.248000e+09,2.749000e+09,1.749000e+09,4.998000e+09
Other Stockholder Equity,-7.343000e+09,-4.678000e+09,-2.476000e+09,4.370000e+08
Property Plant Equipment,9.038400e+10,8.754600e+10,8.321400e+10,7.956800e+10
Total Current Assets,1.608120e+11,1.696840e+11,1.539220e+11,1.741880e+11
Long Term Investments,6.839000e+09,6.891000e+09,6.907000e+09,6.994000e+09
Net Tangible Assets,9.529900e+10,8.772000e+10,8.420500e+10,1.016270e+11
Short Term Investments,8.436000e+10,9.081800e+10,9.216200e+10,1.047440e+11
Net Receivables,3.127900e+10,4.426100e+10,3.261300e+10,3.352000e+10
Long Term Debt,4.537400e+10,4.703200e+10,4.817700e+10,4.826000e+10
Inventory,4.268000e+09,3.742000e+09,3.296000e+09,3.019000e+09
Accounts Payable,1.660900e+10,1.900000e+10,1.608500e+10,1.531400e+10
Deferred Long Term Asset Charges,NaN,1.351500e+10,NaN,NaN

In [15]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Investments,4.360000e+09,-4.570000e+08,9.069000e+09,5.643000e+09
Change To Liabilities,-4.889000e+09,1.520500e+10,3.110000e+08,-4.108000e+09
Total Cashflows From Investing Activities,-3.132000e+09,-9.729000e+09,-1.617100e+10,-1.161000e+09
Net Borrowings,-1.000000e+09,-1.000000e+09,-4.197000e+09,-4.197000e+09
Total Cash From Financing Activities,-1.088300e+10,-1.326900e+10,-1.734500e+10,-1.198600e+10
Change To Operating Activities,-4.834000e+09,3.540000e+08,1.092000e+09,1.760000e+09
Issuance Of Stock,5.750000e+08,4.610000e+08,4.770000e+08,2.910000e+08
Net Income,1.755600e+10,1.674000e+10,1.672800e+10,1.876500e+10
Change In Cash,8.953000e+09,1.433000e+09,-8.106000e+09,1.439000e+09
Repurchase Of Stock,-5.573000e+09,-8.757000e+09,-8.822000e+09,-7.433000e+09
Effect Of Exchange Rate,-2.300000e+08,-1.980000e+08,2.400000e+07,1.060000e+08
Total Cash From Operating Activities,2.319800e+10,2.462900e+10,2.538600e+10,1.448000e+10
Depreciation,2.790000e+09,4.119000e+09,3.773000e+09,3.496000e+09
Other Cashflows From Investing Activities,-8.600000e+08,-1.138000e+09,-1.181000e+09,-8.900000e+07
Dividends Paid,-4.621000e+09,-4.632000e+09,-4.645000e+09,-4.652000e+09
Change To Inventory,-5.430000e+08,-4.610000e+08,-2.790000e+08,3.940000e+08
Change To Account Receivables,1.172900e+10,-1.263400e+10,8.570000e+08,-5.543000e+09
Other Cashflows From Financing Activities,-2.640000e+08,-3.410000e+08,-1.580000e+08,-1.920000e+08
Change To Netincome,9.790000e+08,2.297000e+09,1.813000e+09,1.773000e+09
Capital Expenditures,-6.283000e+09,-6.871000e+09,-5.340000e+09,-5.865000e+09

In [16]:
# show earnings
msft.earnings
msft.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2021   51728000000  18765000000
1Q2022   49360000000  16728000000
2Q2022   51865000000  16740000000
3Q2022   50122000000  17556000000

In [17]:
# show sustainability
msft.sustainability

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.39
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              105
governanceScore                       5.33
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             15.24
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           10.73
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.53
governancePercentile                  None
militaryContract                     False

In [18]:
# show analysts recommendations
msft.recommendations

                                   Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00      Argus Research            Buy                up
2012-03-19 14:00:00      Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00      Morgan Stanley     Overweight              main
2012-04-03 11:53:00                 UBS            Buy              main
2012-04-20 06:18:00       Deutsche Bank            Buy              main
...                                 ...            ...        ...    ...
2022-10-26 12:58:51      Wolfe Research     Outperform              main
2022-10-26 13:25:50  Evercore ISI Group     Outperform              main
2022-10-26 13:28:29         BMO Capital     Outperform              main
2022-10-27 11:14:36          Rosenblatt            Buy              main
2022-11-02 10:29:21           Macquarie        Neutral              init

[424 rows x 4 columns]

In [19]:
# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2023-01-23 10:59:00  2023-01-27 12:00:00
Earnings Average                 2.29                 2.29
Earnings Low                     2.23                 2.23
Earnings High                    2.36                 2.36
Revenue Average           52969300000          52969300000
Revenue Low               52389000000          52389000000
Revenue High              53475000000          53475000000

In [20]:
# show all earnings dates
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-10-23 06:00:00-04:00           NaN           NaN          NaN
2023-07-24 06:00:00-04:00           NaN           NaN          NaN
2023-04-24 06:00:00-04:00           NaN           NaN          NaN
2023-01-23 05:00:00-05:00          2.29           NaN          NaN
2022-10-25 12:00:00-04:00          2.30          2.35       0.0204
...                                 ...           ...          ...
1994-01-19 00:00:00-05:00          0.03          0.03       0.0189
1993-10-20 00:00:00-04:00          0.02          0.02       0.0181
1993-07-28 00:00:00-04:00          0.03          0.03       0.0172
1993-04-14 00:00:00-04:00          0.02          0.03       0.0196
1993-01-16 00:00:00-05:00          0.02          0.02      -0.0041

[124 rows x 3 columns]

In [21]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [22]:
# show options expirations
msft.options

('2022-11-18',
 '2022-11-25',
 '2022-12-02',
 '2022-12-09',
 '2022-12-16',
 '2022-12-23',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17')

In [23]:
# show news
msft.news

[{'uuid': 'b94bd6b8-8b11-3d8b-b07c-db5fbbb61941',
  'title': 'Largest U.S. Pension Buys Up Apple, Intel, and 2 More Big Stocks',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/b94bd6b8-8b11-3d8b-b07c-db5fbbb61941/largest-u.s.-pension-buys-up.html',
  'providerPublishTime': 1668344400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/vu0axBOg_DHTVnGjC0K89g--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/5bf282275fb6a821e623af625688cbb7',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.NNdc7OaBb0KZP38TDErJw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/5bf282275fb6a821e623af625688cbb7',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['INTC', 'AAPL', 'MSFT', '^GSPC']},
 {'uuid': 'c9e34f35-9788-3cd5-aaa8-d5852d4af91f',
  'title': "Paul Allen's fine art collection just sold for a record-breaking $1.5 billion â€” here are 2 other 'real' assets that made these Microsoft billionaires even richer",
  'publisher': 'MoneyWise',
  'link': 'https://finance.yahoo.com/news/paul-allens-fine-art-collection-140000886.html',
  'providerPublishTime': 1668261600,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/l2891nbDZr.CXzgEDo.JOw--~B/aD00MDA7dz03Mjg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/moneywise_327/98f82368545a0956183eb57a0537a418',
     'width': 728,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/3WJmxbU8AbuZJT_M3Od7_g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/moneywise_327/98f82368545a0956183eb57a0537a418',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'a32730cf-c24e-3d17-a8d1-755731c6d511',
  'title': 'Activision Blizzard Stock: Is Waiting for the Microsoft Buyout too Risky Now?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/a32730cf-c24e-3d17-a8d1-755731c6d511/activision-blizzard-stock%3A-is.html',
  'providerPublishTime': 1668181206,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/O4jPUbn1aDFsh1Uc7DzAlQ--~B/aD0yNDMyO3c9NDA4NTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/77daaaa76a399d0567faf88f58e45b85',
     'width': 4085,
     'height': 2432,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/nhkDjF4bS7L07iNB830FKw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/77daaaa76a399d0567faf88f58e45b85',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ATVI', 'MSFT']},
 {'uuid': 'c5fea2ae-f5f8-3e00-9219-4237ef8b783a',
  'title': 'Want to Get Richer? 3 Top Stocks to Buy Now and Hold Forever.',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/c5fea2ae-f5f8-3e00-9219-4237ef8b783a/want-to-get-richer%3F-3-top.html',
  'providerPublishTime': 1668180000,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/44dtyJsuJJOeqNItMGyQRA--~B/aD0yNjY3O3c9NDAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/e94742f56588ff01165b5ac415c9bd6e',
     'width': 4000,
     'height': 2667,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ziR2q_24lqz3ZF6ecRRj4w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/e94742f56588ff01165b5ac415c9bd6e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL', 'NVDA', 'MSFT']},
 {'uuid': '708ddad5-12c0-3522-a33a-140d0cde06a0',
  'title': '5 Stocks You Can Confidently Invest $500 In Right Now',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/708ddad5-12c0-3522-a33a-140d0cde06a0/5-stocks-you-can-confidently.html',
  'providerPublishTime': 1668177420,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/evjXbrTY9.F9HqcEfREmnA--~B/aD0yNjQwO3c9Mzk2MDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/6a71dd2eacdfd5177cfb6e3dd7d5c48c',
     'width': 3960,
     'height': 2640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LvkQB6PiIjLYADWAR7bydA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/6a71dd2eacdfd5177cfb6e3dd7d5c48c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'PANW']},
 {'uuid': '659fd034-fcee-36e4-88d4-5a7d799105ee',
  'title': '1 Monster Stock Growing Faster Than Amazon and Microsoft in This Key Area',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/659fd034-fcee-36e4-88d4-5a7d799105ee/1-monster-stock-growing.html',
  'providerPublishTime': 1668175800,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/odiBmNiSJ5ZrK3seJgGL9g--~B/aD0zNjY5O3c9NTUwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/3907e262de1de499cdaba70251fc928a',
     'width': 5500,
     'height': 3669,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/vFNrrXM8Z.I.fnjo4jkqFw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/3907e262de1de499cdaba70251fc928a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['DOCN', 'MSFT', 'AMZN', 'AAPL']},
 {'uuid': 'af62eeb3-3b1c-3c42-bfdb-224812cecc47',
  'title': 'Dow Jones Soars 1,200 Points On Inflation Report: Why The Market Rally Has Room To Run',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/af62eeb3-3b1c-3c42-bfdb-224812cecc47/dow-jones-soars-1%2C200-points.html',
  'providerPublishTime': 1668172797,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/WN_fQ.HGmjYRCp9dw.1rag--~B/aD01MzM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/2fa20792eba17fe35a0e8c316a4cf54a',
     'width': 1000,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/a7nAYl865UiJIfSekluPSA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/2fa20792eba17fe35a0e8c316a4cf54a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^DJI', 'COMP', '^GSPC', 'TSLA', 'MSFT', 'NVDA']},
 {'uuid': '1ff4c495-913b-3dc6-8e0c-52fccc5c5ff1',
  'title': 'Growth Investors: Industry Analysts Just Upgraded Their Microsoft Corporation (NASDAQ:MSFT) Revenue Forecasts By 0.2%',
  'publisher': 'Simply Wall St.',
  'link': 'https://finance.yahoo.com/news/growth-investors-industry-analysts-just-123553430.html',
  'providerPublishTime': 1668170153,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/eFZZVJx6QdqQsl5Qimg4Rw--~B/aD00MzI7dz0xMTk0O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/a5d5a89dd6ab73bc7694c99b9023ec2d',
     'width': 1194,
     'height': 432,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5Fy.yFFq_J2cr_4EvCbCFw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/a5d5a89dd6ab73bc7694c99b9023ec2d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [28]:
# get option chain for specific expiration
opt = msft.option_chain('2022-11-18')
# data available via: opt.calls, opt.puts
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT221118P00125000,2022-11-11 14:30:28+00:00,125.0,0.01,0.00,0.01,0.0,0.0,1.0,5873.0,1.625002,False,REGULAR,USD
1,MSFT221118P00130000,2022-11-03 13:40:43+00:00,130.0,0.01,0.00,0.51,0.0,0.0,1.0,6343.0,2.279301,False,REGULAR,USD
2,MSFT221118P00135000,2022-11-07 14:50:20+00:00,135.0,0.01,0.00,0.15,0.0,0.0,1.0,5323.0,1.851563,False,REGULAR,USD
3,MSFT221118P00140000,2022-11-10 17:26:29+00:00,140.0,0.01,0.00,0.05,0.0,0.0,10.0,1865.0,1.562502,False,REGULAR,USD
4,MSFT221118P00145000,2022-11-10 14:30:07+00:00,145.0,0.04,0.00,0.09,0.0,0.0,2.0,1617.0,1.562502,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,MSFT221118P00410000,2022-10-20 13:46:51+00:00,410.0,171.60,162.20,165.20,0.0,0.0,2.0,0.0,2.031255,True,REGULAR,USD
73,MSFT221118P00415000,2022-10-14 19:49:50+00:00,415.0,185.30,167.15,170.25,0.0,0.0,3.0,0.0,2.069829,True,REGULAR,USD
74,MSFT221118P00420000,2022-09-07 14:12:15+00:00,420.0,166.15,182.35,184.70,0.0,0.0,NaN,0.0,3.781006,True,REGULAR,USD
75,MSFT221118P00430000,2022-09-26 15:26:03+00:00,430.0,191.12,193.00,195.35,0.0,0.0,1.0,0.0,3.956299,True,REGULAR,USD
76,MSFT221118P00460000,2022-04-21 17:05:26+00:00,460.0,173.93,205.60,209.60,0.0,0.0,NaN,0.0,0.000010,True,REGULAR,USD

In [30]:
#Multiple tickers
data = yf.download("SPY AAPL", start="2022-01-01", end="2022-04-30")

[*********************100%***********************]  2 of 2 completed

In [ ]:
data